/*--------------------*/
/*       PARENT       */
/*      NAVIGATION    */
/*--------------------*/
/*Containing two divs*/
.navigation_parent_div {
    box-sizing: border-box; /*this line prevents the added padding from being added on the "outer frame of the div". This line considers the given/specified width as the actual width and adjusts the padding there after, inside of the div, rather than outside*/
    width: 100%;
    margin-left: 0px;
    float: left;
    border: 5px solid #50833D;
    border-radius: 20px;
}


/*--------------------*/
/*        LOGO        */
/*--------------------*/
/*Left side of navigation bar*/
.navigation_parent_div > .navigation_child_div_left > a >  .logo {
    box-sizing: border-box; /*this line prevents the added padding from being added on the "outer frame of the div". This line considers the given/specified width as the actual width and adjusts the padding there after, inside of the div, rather than outside*/
    padding: 20px;
    width: 30%;
    height: 100px;
    float: left;

    /*Text edit*/
    color: #50833D;
    font-size: 24px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-style: bolder;
} 

.navigation_parent_div > .navigation_child_div_left > a > .logo:hover {
    cursor: pointer;
}

.navigation_child_div_left > a > .logo {
    height: 50px;
    display: flex;
    align-items: center; 
}


/*--------------------*/
/*        MENU        */
/*--------------------*/
/*Right side of navigation bar*/

.navigation_parent_div > .navigation_child_div_right {
    box-sizing: border-box;
    padding: 20px;
    width: 70%;
    height: 100px;
    float: left;
    /*background-color: yellow;*/
}

.navigation_child_div_right > .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 50px;
}

/*Style actual menu made up by a ul (unordredlist)*/
.menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    font-family: 'Helvetica', 'Arial', sans-serif;
    size: 12px;
}

li a {
    display: block;
    color: #50833D;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

li a:hover {
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    size: 14px;
}


/*--------------------*/
/*    CONTAINER DIV   */
/*--------------------*/

.container_div {
    margin-top: 10px;
    float: left;
    box-sizing: border-box;
    width: 100%;
}


/*--------------------*/
/*      TEXT DIV      */
/*--------------------*/
/*TEXT DIV includes...
1. MAIN HEADER
2. BREAD TEXT
3. MAIN IMAGE*/

.text_div {
    float: left;
    width: 50%;
}

    /*--------------------*/
    /*   1. MAIN HEADER   */
    /*--------------------*/

    .main_header {
        box-sizing: border-box;
        padding-left: 20px;
        margin-top: 40px;

        /*border: 5px solid orange;*/
    }

    .main_header h1 {
        font-family: Arial, Helvetica, sans-serif;
        size: 24px;
        /*Change margin and padding in order to decrease space between h1 and h2*/
        margin: 0;
        padding: 0;
    }

    .main_header h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        color: gray;
        position: relative;

        /*Change margin and padding in order to decrease space between h1 and h2*/
        margin: 0;
        padding: 0;
    }

    .main_header h1 span {
        position: relative;
        color: white;
    }

    .main_header h1 span:before{
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: #50833D;
        -webkit-text-stroke: 0vw lightgray;
        border-right: 2px solid #50833D;
        overflow: hidden;
        animation: animate 3s linear infinite;
    }

    /*--------------------*/
    /* ANIMATION FUNCTION */
    /* FOR ATTRIBUTE NAMED*/
    /*     "data-text"    */
    /*--------------------*/
    /*This animation enables the attribute data-text to be redrawn an infinite amount of times*/
    /*When redrawing is finished a new word should pop up, hence content-parameter changing*/
    /*Current problem: Updated content on works on CHROME/FIREFOX*/


    @keyframes animate {
        0%,10%,100% {
            width: 0;
            /* content: "A"; */
        }

        70%,90% {
            width: 100%;
            /* content: "B"; */
        }
    }

    .divider {
        margin-left: 20px;
    }

    /*--------------------*/
    /*    2. BREAD TEXT   */
    /*--------------------*/

    .bread_text {
        box-sizing: border-box;
        margin-top: 10px;
        padding-left: 20px;

        /*border: 5px solid orange;*/
    }

    .bread_text > p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 18px;
        color: #50833D;
    }


    /*--------------------*/
    /*    3. MAIN IMAGE   */
    /*--------------------*/

    .main_image {
        display: flex;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;
        position: right;
        position: top;
        margin-left: 50%;
        width: 50%;
        margin-top: 0;

        /*border: 5px solid orange;*/
    }

    .main_image > img {
        max-height: 500px;
    }


/*--------------------*/
/*    SECTION THREE   */
/*--------------------*/

.section_three {
    box-sizing: border-box;
    background-color: #50833D;
    float: left;
    height: 200px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column; /*Places the content inside the flexbox vertically*/
    box-sizing: border-box;
    float: left;

    width: 33%;
    height: 200px;

    align-items: center;
    justify-content: center;
}

.circle_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;

    border-radius: 50%;
    background-color: #4EA49B;
    width: 80px;
    height: 80px;
}

.circle_icon > img {
    max-width: 40px;
}

.column > .icon_text {
    margin-top: 10px;
    width: 300px;
    text-align: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
}


/*--------------------*/
/*      ABOUT US      */
/*--------------------*/

.about_us {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 20px;
    width: 100%;
    float: left;
}


.about_us > .c1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /*Places the content inside the flexbox vertically*/
    box-sizing: border-box;

    float: left;
    width: 10%;

    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bolder;
    color: black;
}

.about_us > .c1 > a {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.about_us > .c1 > a > img {
    height: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.about_us_text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #50833D;

    background-color: white;

    float: left;
}



.center_text{
    text-align:center;

}


    .green_button {
        background-color: #50833D;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

    }
    
.text_divr {
    margin-top:95px;
    float: right;
    width: 50%;

}

.bread_texts {
    box-sizing: border-box;
    margin-top: 10px;
    padding-left: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

.green_text{
    box-sizing: border-box;
    margin-top: 10px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #50833D;

}